
    <ion-header>

      <ion-navbar>
        <ion-title>{{ 'LOGIN' | translate }}</ion-title>
      </ion-navbar>

    </ion-header>


    <ion-content center >
      <ion-grid>
        <ion-row justify-content-center align-items-center>
         
          <ion-col style="padding:unset">
      <form (submit)="doLogin()">
        
        <ion-list >
          <ion-item>
            <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
          </ion-item>

          <!--
          Want to use a Username instead of an Email? Here you go:

          <ion-item>
            <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>
          -->

          <ion-item>
            <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
            <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
          </ion-item>

          <div padding>
            <button ion-button color="primary" block>{{ 'LOGIN' | translate }}</button>
          </div>
        
        </ion-list>
      </form>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-content>
