<ion-header>
  
  <ion-navbar>
    <ion-title>{{ 'CHANGEPASSWORD_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'CHANGEPASSWORD_OLDPASSWORD' | translate }}</ion-label>
        <ion-input type="password" name="oldPass" formControlName="oldPass"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'CHANGEPASSWORD_NEWPASSWORD' | translate }}</ion-label>
        <ion-input type="password" name="newPass" formControlName="newPass"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'CHANGEPASSWORD_CONFIRMPASSWORD' | translate }}</ion-label>
        <ion-input type="password" name="retypePass" formControlName="retypePass"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block [disabled]="!form.valid">{{ 'CHANGEPASSWORD_CONFIRM' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
