<ion-tabs>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab5Root" [tabTitle]="tab5Title" tabIcon="cog"></ion-tab>
</ion-tabs>