<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title>{{ 'TAB4_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-item *ngFor="let item of detailItems" (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.imageUrl" />
        </ion-avatar>
        <h2><b>{{item.namaBarang}}</b></h2>
        <ion-note >End Date : {{item.tanggalSelesai}}</ion-note>
        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
  
        <!-- <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
