<ion-header>

  <ion-navbar>
    <ion-title>{{ item.namaBarang }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmFavorite(item)"><ion-icon name="star-outline"></ion-icon></button>
      <button ion-button icon-only (click)="share($event)"><ion-icon name="share"></ion-icon></button>      
    </ion-buttons>
    <!-- <button ion-button icon-only><ion-icon name="star"></ion-icon></button> -->
  </ion-navbar>

</ion-header>


<ion-content>
  

  <ion-slides pager>
    <ion-slide>
      <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.imageUrl + ')'">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.imageUrl + ')'">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.imageUrl + ')'">
      </div>
    </ion-slide>
  </ion-slides>
  
  <div class="item-detail" padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2>{{item.namaBarang}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <span (click)="viewProfile()" style="display: table"><ion-badge><ion-icon name="contact"></ion-icon> {{fullName}}</ion-badge></span>
        </ion-col>
      </ion-row>
      <ion-row>
          <p>{{item.deskripsiBarang}}</p>
      </ion-row>
    </ion-grid>
  </div>
  <div padding class="bid-detail">
    <h4 *ngIf="date < add"><b>{{ 'TIME_REMAIN' | translate}}: {{ tick | convertTime }}</b></h4>
    <h4 *ngIf="date > add"><b>Time End</b></h4>
    Last bid: {{item.hargaBarang}}
    <button *ngIf="date < add" ion-button full (click)="bid()">{{ 'BID_BUTTON' | translate }}</button>
    <button *ngIf="date > add" disabled ion-button full >{{ 'BID_BUTTON' | translate }}</button>
    
  </div>
  
</ion-content>