page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 512px;    
  }

  .item-detail {
    width: 100%;
    background: white;
    position: relative;
  }

  .swiper-slide {
    display: block;
  } 

  ion-slides {
    height: 50%;
  }

  p {
    margin-left: 5px;
  }

  .bid-detail {
    text-align: center;
  }
}
