<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
        {{ 'SETTINGS_TOPUP_TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <form (ngSubmit)="topUp()" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
                {{ 'DESCRIPTION_TOPUP1' | translate }}
            </ion-card-title>
            <p>{{ 'DESCRIPTION_TOPUP2' | translate }}</p>
            <p>{{ 'DESCRIPTION_TOPUP3' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-item-group>
          <ion-item-divider color="light" font-size="5px">{{ 'NOMINAL_TOPUP' | translate }}</ion-item-divider>
          <ion-item>
            <ion-input type="number" formControlName="nominal" placeholder="Nominal"></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-item>
      <ion-item>
        <ion-item-group>
          <ion-item-divider color="light">{{ 'METODE_TOPUP' | translate }}</ion-item-divider>
          <ion-item>Transfer Bank Central Asia</ion-item>
        </ion-item-group>
      </ion-item>
      <ion-item>
        <button ion-button full type="submit">{{ 'NEXT_BUTTON' | translate }}</button>
      </ion-item>
    </ion-list>
    </form>
  </div>
</ion-content>