<!--
  Generated template for the ViewProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>view-profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item class="item-thumbnail-left" text-wrap>
    <img [src]="image" class="profile-image" item-start/>
    <h2 style="font-weight: bold;">{{ userName }}</h2>
    <h3>{{ email }}</h3>
    <h3>{{ telp }}</h3>
  </ion-item>
       
  <p text-center><strong>{{ 'SETTINGS_HISTORY_TITLE' | translate }}</strong></p>

  <ion-segment mode="md" [(ngModel)]="viewProfile">
    <ion-segment-button value="lelang">
        {{ 'AUCTION_START' | translate }}
    </ion-segment-button>
  </ion-segment>
  

  <div [ngSwitch]="viewProfile">
    <ion-list *ngSwitchCase="'lelang'"> 
      <ion-item *ngFor="let item of lelangTemp">
        <ion-avatar item-start>
          <img [src]="item.imageUrl">
        </ion-avatar>
        <h2><b>{{ item.namaBarang }}</b></h2>
        <h4>{{ item.hargaBarang }}</h4>
      </ion-item>
    </ion-list> 
  </div>
</ion-content>
