<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>{{ 'SETTINGS_PAGE_PROFILE' | translate }}</ion-title>
      <!-- <ion-buttons start>
        <button ion-button (click)="cancel()">
          <span color="primary" showWhen="ios">
            {{ 'CANCEL_BUTTON' | translate }}
          </span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons> -->
      <!-- <ion-buttons end>
        <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
          <span color="primary" showWhen="ios">
            {{ 'DONE_BUTTON' | translate }}
          </span>
          <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="editProfile()">
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <div class="profile-image-wrapper" (click)="getPicture()">
        <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
          <ion-icon name="add"></ion-icon>
          <div>
            {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
          </div>
        </div>
        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        <p>{{ 'CHANGE_PROFILE_PHOTO' | translate }}</p>
      </div>
      <ion-list>
        <ion-item>
            <ion-label floating>{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="name" formControlName="namaUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input readonly type="email" [(ngModel)]="email" formControlName="EmailUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'TELEPON' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="telp" formControlName="PhoneUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'ADDRESS' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="address" formControlName="AddressUser"></ion-input>
        </ion-item>
      </ion-list>
      <div text-center>
          <button type="submit" ion-button block [disabled]="!form.valid">{{ 'UPDATE_PROFILE' | translate }}</button>
      </div>
    </form>
  </ion-content>
  
  