<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-list *ngIf="page == 'main'" >
      <ion-item class="item-thumbnail-left" text-wrap>
        <img [src]="image" class="profile-image" item-start/>
        <h2 style="font-weight: bold;">{{ fullName }}</h2>
        <h3>{{ email }}</h3>
        <h3>{{ telp }}</h3>
        <button ion-button (click)="goToEditProfile()" style="width: 90px;">
          {{ 'SETTINGS_PAGE_PROFILE' | translate }}
        </button>
        <button ion-button (click)="logout()" style="width: 90px;" color="danger">
          {{ 'LOG_OUT_BUTTON' | translate}}
        </button>
      </ion-item>
        
      <ion-item>
        <ion-label>{{ 'SETTINGS_SALDO_TITLE' | translate }}</ion-label>
        <ion-label item-end>{{ saldo }}</ion-label>
      </ion-item>

      <button ion-item (click)="topUp()">
        {{ 'SETTINGS_TOPUP_TITLE' | translate }}
      </button>
      
      <button ion-item (click)="withdraw()">
        {{ 'SETTINGS_WITHDRAW_TITLE' | translate }}
      </button>
      
      <button ion-item (click)="history()">
        {{ 'SETTINGS_HISTORY_TITLE' | translate }}
      </button>

      <button ion-item (click)="changePassword()">
        {{ 'SETTINGS_CHANGEPASSWORD_TITLE' | translate }}
      </button>

      <ion-item>
        <ion-label>{{ 'SETTINGS_CHANGE_LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLang($event)">
          <ion-option value="en" checked="true">English</ion-option>
          <ion-option value="id">Bahasa Indoensia</ion-option>
          <ion-option value="ja">日本語</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>



</ion-content>