<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS_HISTORY_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <ion-segment [(ngModel)]="default">
      <ion-segment-button value="bid">
          {{ 'BID' | translate }}
      </ion-segment-button>
      <ion-segment-button value="lelang">
          {{ 'TAB3_TITLE' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="default">
    <ion-list *ngSwitchCase="'bid'">
      <ion-item *ngFor="let item of detailItem" (click)="openItem(item)">
        <h2>{{item.namaBarang}}</h2>
        <p>{{item.nominalBid}}</p>
        <ion-note item-end>{{item.tanggalBid}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'lelang'">
      <ion-item *ngFor="let item of historyLelang" (click)="openItem(item)">
        <ion-thumbnail item-start>
          <img [src]=item.imageUrl>
        </ion-thumbnail>
        <h2>{{item.namaBarang}}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
