<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TAB2_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <!-- <ion-searchbar placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar> -->
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.imageUrl" />
      </ion-avatar>
      <h2>{{item.namaBarang}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>

  <!-- <ion-grid class="card-background-page" *ngIf="onsearch == false">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/img/marty-avatar.png"/>
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/img/sarah-avatar.jpeg"/>
          <div class="card-title">Amsterdam</div>
          <div class="card-subtitle">64 Listings</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/img/bjork-live.jpg"/>
          <div class="card-title">San Francisco</div>
          <div class="card-subtitle">72 Listings</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/img/bjork-live.jpg"/>
          <div class="card-title">San Francisco</div>
          <div class="card-subtitle">72 Listings</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/img/marty-avatar.png"/>
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/img/sarah-avatar.jpeg"/>
          <div class="card-title">Amsterdam</div>
          <div class="card-subtitle">64 Listings</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/img/marty-avatar.png"/>
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/img/sarah-avatar.jpeg"/>
          <div class="card-title">Amsterdam</div>
          <div class="card-subtitle">64 Listings</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
</ion-content>