<ion-header>
  
  <ion-navbar>
    <ion-title>{{ 'AUCTION_START' | translate }}</ion-title>
  </ion-navbar>

</ion-header>
  
  
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <ion-list>
      <ion-item>
          <ion-label fixed>{{ 'ITEM_NAME_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="text" placeholder="" formControlName="namaBarang"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>{{ 'ITEM_PRICE_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="number" placeholder="" formControlName="hargaBarang"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'ITEM_CONDITION_PLACEHOLDER' | translate }}</ion-label>
        <ion-select formControlName="kondisiBarang">
          <ion-option value="Baru">Baru</ion-option>
          <ion-option value="Bekas">Bekas</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'AUCTION_ENDTIME_TITLE' | translate }}</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="tanggalSelesai"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'ITEM_DESCRIPTION_PLACEHOLDER' | translate }}</ion-label>
        <ion-textarea placeholder="" formControlName="deskripsiBarang"></ion-textarea>
      </ion-item>
    </ion-list>
    <div text-center>
        <button type="submit" ion-button block [disabled]="!form.valid">{{ 'AUCTION_START' | translate }}</button>
    </div>
  </form>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>