<!--
  Generated template for the ModalItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>Rate: Rp. 505.000</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
<ion-grid>
<ion-row>
<ion-col>


  <div class="padding">
    <h3 *ngIf="date < add" ><b>{{ 'TIME_REMAIN' | translate}}: {{ tick | convertTime }}</b></h3>
    <h3 *ngIf="date > add"><b>Time End</b></h3>
    <h1>{{ 'RATE' | translate }}: {{item.hargaBarang | currency:'IDR'}}</h1>
    {{ 'LAST_BID' | translate }}: <p *ngIf="!item.bidBy">NoBody</p><p *ngIf="item.bidBy">{{fullName}}</p>


    <div class="bidForm">
      <ion-input type="number" [(ngModel)]="bidAmmount" placeholder="Enter your bid here"></ion-input>
      <button *ngIf="date < add" ion-button full (click)="bid()">{{ 'BID' | translate }}</button>
      <button *ngIf="date > add" disabled ion-button full>{{ 'BID' | translate }}</button>
      <hr>
      <button ion-button full (click)="dismissModal()" color="danger">{{ 'CANCEL_BUTTON' | translate }}</button>
    </div>
  </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
