<ion-list>
  <button ion-item (click)="facebook()"><ion-icon name="logo-facebook"></ion-icon> Facebook</button>
  <button ion-item (click)="close()">Twitter</button>
  <button ion-item (click)="close()">Whatsapp</button>
  <button ion-item (click)="close()">Line</button>
</ion-list>
