page-list-master {
    // .item-md ion-avatar {
    //     min-width: 100px;
    //     min-height: 100px;
    // }

    // .item-md ion-avatar ion-img, .item-md ion-avatar img {
    //     width: 100px;
    //     height: 100px;
    // }

    // .input-wrapper {
    //     display: flow-root;
    // }

    // b {
    //     font-size: 24px;
    // }

    // .text-wrap {
    //     white-space: normal;
    //     font-size: 14px;
    // }
}
