<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let item of detailItem">
    <ion-item (click)="openItem(item)">
      <ion-avatar item-start>
        <img [src]="item.profilPic">
      </ion-avatar>
      <h2><b>{{item.namaBarang}}</b></h2>
      <p>{{item.fullName}}</p>
      <!-- <div class="text-wrap">{{item.pelelang}}</div> -->
      <!-- <div class="text-wrap">{{getUsername(item.pelelang)}}</div> -->
    </ion-item>
  
    <img (click)="openItem(item)" [src]="item.imageUrl">
  
    <ion-card-content>
      <p>{{item.deskripsiBarang}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          <div>{{ 'SHARE' | translate }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-right clear small>
          <ion-icon name="star"> </ion-icon>
          <div *ngIf="!item.isFav" (click)="confirmFavorite(item)">{{ 'FAVORITE' | translate }}</div>
          <div *ngIf="item.isFav" (click)="confirmUnfavorite(item)">{{ 'UNFAVORITE' | translate }}</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>