<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-grid>
<ion-row>
<ion-col>
  <form (submit)="doSignup()" [formGroup]="form">
    <ion-list>

      <ion-item>
        <ion-label stacked>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="fullName" placeholder="{{ 'NAME' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'TELEPON' | translate }}</ion-label>
        <ion-input type="number" formControlName="telp" placeholder="{{ 'TELEPON' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'ADDRESS' | translate }}</ion-label>
        <ion-input type="text" formControlName="address" placeholder="{{ 'ADDRESS' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email" placeholder="{{ 'EMAIL' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'REPASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="retype" placeholder="{{ 'REPASSWORD' | translate }}"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block [disabled]="!form.valid" type="submit">{{ 'SIGNUP' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>