<!--
  Generated template for the VerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'INFORMATION' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 style="text-align:center">{{ 'VERIFY_CODE' | translate }}</h1>
  <button ion-button block (click)="logout()" color="primary">
    {{ 'BACK_BUTTON_TEXT' | translate}}
  </button>
  <button ion-button block (click)="resent()" color="light">
    {{ 'RESENT_BUTTON_TEXT' | translate}}
  </button>
</ion-content>
