<!--
  Generated template for the TopUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS_WITHDRAW_TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col>
            <div class="alert alert-danger fade in" role="alert">
                <h4>WARNING!</h4>
                <p>Nama pemilik akun harus sama dengan rekening pemilik nama.</p>
              </div>
        </ion-col>
    </ion-row>
    <ion-row>
     
      <ion-col>
        <form>
          <ion-list>
            <ion-item>
                <ion-label color="primary" stacked>{{ 'JUMLAH_PENARIKAN' | translate }}</ion-label>
                <ion-input type="text" placeholder="{{ 'JUMLAH_PENARIKAN' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{ 'BIAYA_PENARIKAN' | translate }}</ion-label>
                <ion-input type="number" placeholder="{{ 'BIAYA_PENARIKAN' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{ 'TERIMA_BERSIH' | translate }}</ion-label>
                <ion-input type="number" placeholder="{{ 'TERIMA_BERSIH' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary">{{ 'PILIH_BANK' | translate }}</ion-label>
                <ion-select >
                  <ion-option value="bca" checked="true">Bank Central Asia</ion-option>
                  <ion-option value="bi">Bank Indonesia</ion-option>
                  <ion-option value="bri">bri</ion-option>
                </ion-select>
              </ion-item>
          </ion-list>
          <div padding>
            <button ion-button block color="primary" >{{ 'SEND' | translate }}</button>
          </div>
         
         
        </form>
      </ion-col>
     
    </ion-row>
    <ion-row>
        <ion-col>
            <p>
              Syarat dan ketentuan: 
              
            </p>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
